<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="stylesheets/game.css">

        <title>Delft Hexagon Chess - Play</title>
    </head>
    <body>
        <h1 id="gameTitle">HEXAGON CHESS</h1>
        <button id="forfeitBtn" type="submit">FORFEIT</button>
        <section id="playspace">
            <div id="board">
                <img src="images/board2.png" alt="board">

                <% 
                let leftOffset = 47.4; //485
                let bottomOffset = 7; //60
                let verticalIncrease = 8.08; //73
                let horizontalIncrease = 6.2; //63.7

                function toPosition(level, file) {
                    let x = level - 5;
                    let y = file > 5 ? file - 5 : 0;
                    let z = file < 5 ? 5 - file : 0;

                    return {x: x, y: y, z: z};
                }

                for(let i = 0; i < 11; i++) {
                    for(let j = 1; j < Math.min(6, 11 - i); j++) {
                        %>
                            <span class="cell" style="left: <%= leftOffset - j*horizontalIncrease %>%; bottom: <%= bottomOffset + i*verticalIncrease + j*(verticalIncrease/2) %>%" title="<%= JSON.stringify(toPosition(i, 5 - j)) %>"></span>
                        <%
                    }
                    for(let k = 1; k < Math.min(6, 11 - i); k++) {
                        %>
                            <span class="cell" style="left: <%= leftOffset + k*horizontalIncrease %>%; bottom: <%= bottomOffset + i*verticalIncrease + k*(verticalIncrease/2) %>%" title="<%= JSON.stringify(toPosition(i, k + 5)) %>"></span>
                        <%
                    }  
                    
                    // This is the middle file (F)
                    %>
                        <span class="cell" style="left: <%= leftOffset %>%; bottom: <%= bottomOffset + i*verticalIncrease %>%" title="<%= JSON.stringify(toPosition(i, 5)) %>"></span>
                    <%
                }
                %>
            </div>
        </section>
        <section id="stats">
            <div id="timer1" class="timer">
                <img src="images/stopwatch.png" alt="sw1" id="sw1">
                <span id="stopwatch1">00:00</span>
            </div>
            
            <div id="timer2" class="timer">
                <img src="images/stopwatch.png" alt="sw2" id="sw2">
                <span id="stopwatch2">00:00</span>
            </div>

            <span id="status">Waiting...</span>
        </section>

        <script src="javascripts/config.js"></script>
        <script src="javascripts/statuses.js"></script>
        <script src="javascripts/messages.js"></script>
        <script src="javascripts/gamestate.js"></script>
        <script src="javascripts/utils.js"></script>
        <script src="javascripts/ui/statusbar.js"></script>
        <script src="javascripts/ui/timerbar.js"></script>
        <script src="javascripts/ui/visiblegameboard.js"></script>
        <script src="javascripts/interactions.js"></script>
    </body>
</html>